html(lang="es", class="no-js")
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1,user-scalable=no")
    title Title-template
    meta(name='description',content="")

    meta(property='og:title', content="")
    meta(property='og:description', content="")
    meta(property='og:type', content='web')
    meta(property='og:url', content='url')
    meta(property='og:image', content='images/share-facebook.png')
    link(rel='shortcut icon', type='image/x-icon', href="")
    block head
    link(rel='stylesheet', href='css/index.min.css')
  body
    
    #wrapper
      include ../_include/_header
      block content
      include ../_include/_footer
      
    script(src='javascript/main.min.js', type='text/javascript')
    //script(src='build/javascript/application.js')
