footer#footer
  .gb-footer
    .gb-footer__top
      .gb-footer__inner
        .gb-footer__container
          .gb-footer__btn-top
            a#smg-volver-al-inicio(href='#', title='Volver al inicio') Volver al inicio
          .gb-footer__col-wrap
            .gb-footer__nav-link.gb-footer__col2
              strong
                a#smg-mapa-del-sitio(href='http://www.samsung.com/pe/info/sitemap/', target='_blank') Mapa del sitio
              ul.gb-footer__col4
                li.gb-footer__item
                  a#smg-conocenos(href='http://www.samsung.com/pe/aboutsamsung/home', target='_blank') Conócenos
                li.gb-footer__item.gb-footer__blank
                  a#smg-inversionistas(href='http://www.samsung.com/us/aboutsamsung/ir/newsMain.do', target='_blank') Inversionistas
                li.gb-footer__item
                  a#smg-noticias(href='http://www.samsung.com/pe/news/', target='_blank') Noticias
                li.gb-footer__item.gb-footer__blank
                  a#smg-trabaja-con-nosotros(href='https://www.linkedin.com/company/1753/', target='_blank') Trabaja con Nosotros
                li.gb-footer__item
                  a#smg-tiendas(href='http://www.samsung.com/pe/findastore/', target='_blank') Tiendas
                li.gb-footer__item
                  a#smg-contactenos(href='http://www.samsung.com/pe/info/contactus/', target='_blank') Contáctenos
              ul.gb-footer__col4
                li.gb-footer__item
                  a#smg-medio-ambiente(href='http://www.samsung.com/pe/aboutsamsung/sustainability/environment/our-commitment/eco-management/', target='_blank') Medio Ambiente
            .gb-footer__col4.s-support-link
              strong Redes de Servicios
              ul.gb-footer__depth2
                li.gb-footer__item.gb-footer__blank
                  a#smg-chat-online.popWin(href='http://livechat.support.samsung.com/Customer_new/PE', target='_blank')
                    span.gb-footer__svg.s-ico-chat
                    | Chat Online
                li.gb-footer__item
                  a#smg-correo-electronico(href='http://www.samsung.com/pe/support/erms1', target='_blank')
                    span.gb-footer__svg.s-ico-email
                    | Correo Electrónico
                li.gb-footer__item
                  a#smg-contactenos(href='http://www.samsung.com/pe/info/contactus/', target='_blank')
                    span.gb-footer__svg.s-ico-call
                    | Contáctenos
            .gb-footer__col4.s-sns-link.s-clear
              .gb-footer__sns-list
                strong Síguenos
                ul.gb-footer__depth2
                  li.gb-footer__item.gb-footer__svg.s-facebook
                    a#smg-facebook(href='https://www.facebook.com/SamsungPeru/', target='_blank') Facebook
                  li.gb-footer__item.gb-footer__svg.s-twitter
                    a#smg-twitter(href='https://twitter.com/samsung_peru', target='_blank') Twitter
                  li.gb-footer__item.gb-footer__svg.s-youtube
                    a#smg-youtube(href='https://www.youtube.com/user/SamsungPeru', target='_blank') YouTube
                  li.gb-footer__item.gb-footer__svg.s-instagram
                    a#smg-instagram(href='https://www.instagram.com/samsungpe/', target='_blank') Instagram
                  li.gb-footer__item.gb-footer__svg.s-in
                    a#smg-linkedin(href='https://www.linkedin.com/company/samsung/careers', target='_blank') LinkedIn
              .gb-footer__local-logo
          .gb-footer__copyright
            p.gb-footer__text Copyright© 1995-2018 SAMSUNG. Todos los derechos reservados.
    .gb-footer__bottom
      .gb-footer__inner
        .gb-footer__container
          .gb-footer__bottom-list
            ul.gb-footer__list
              li.gb-footer__item
                a#accHelp(href='http://www.samsung.com/pe/accessibility/', target='_blank') AYUDA SOBRE LA ACCESIBILIDAD
              li.gb-footer__item
                a#smg-politica-de-privacidad(href='http://www.samsung.com/pe/info/privacy/', target='_blank') Políticas de Privacidad
              li.gb-footer__item
                a#smg-legal(href='http://www.samsung.com/pe/info/legal/', target='_blank') Legal
            .gb-footer__lang
              a#smg-language.gb-footer__link(href='http://www.samsung.com/pe/function/ipredirection/ipredirectionLocalList/', target='_blank')
                img.gb-footer__flag(src='https://cdn.samsung.com/etc/designs/smg/global/imgs/flags/ico_pe.gif', width='20', height='13', alt='Perú Flag')
                span Perú/Español

          .gb-footer__legal
            p Este site está optimizado para Microsoft Internet Explorer 9 o superior, y/o la última versión actualizada de Google Chrome y Mozilla Firefox.

