// .clearfix {
//   &:after {
//     content: "";
//     display: table;
//     clear: both;
//   }
// }

html,
body {
  margin: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

ul{
  margin:0;
  padding:0;
  list-style:none;
}

a{
  text-decoration:none;
}